@import variables

main.home
    @media only screen and (max-width: $tablet-width)
        padding: 0
    h1
        font-size: 18px
        line-height: 21px
        margin-bottom: 7px
        padding-left: 15px
        @include tabletPlus()
            margin-bottom: 9px
            font-size: 26px
            line-height: 31px
            padding-left: 0
    > p
        font-size: 12px       
        line-height: 14px
        font-family: FiraBook
        margin-bottom: 30px
        padding-left: 15px
        @include tabletPlus()
            padding-left: 0


.home-main-ul
    width: 100%
    display: grid
    grid-template-columns: repeat(auto-fit, 140px)
    grid-gap: 5px
    justify-content: center
    padding: 0 5px
    @include sizePlus(350px)
        grid-gap: 15px
    @include tabletPlus()
        grid-template-columns: repeat(auto-fit, 164px)
        grid-gap: 26px
        padding: 0
        justify-content: space-between
   
        
    
    @include desktopPlus()
        justify-content: flex-start

.home-main-ul-li a
    width: 140px
    @include flexingDir(column, space-between, center)
    @include tabletPlus()
        width: 164px

    
.home-main-ul-li-divForImg
    height: 110px
    width: 100%
    background: white
    border-radius: 10px
    overflow: hidden
    margin-bottom: 17px
    img
        width: 100%
        height: 100%
        padding: 15px 43px
        object-fit: contain

.home-main-ul-li-brandname
    font-size: 14px
    line-height: 16px
    margin-bottom: 8px

.home-main-ul-li-quantity
    font-size: 12px
    line-height: 14px
    font-family: FiraRegular
    font-weight: 100
    span
        font-family: inherit
    
