

.products-li-inside-ul  
    padding-left: 20px
    color: $dark2
    display: block
    // overflow: hidden
    max-height: 0
    overflow: hidden
    transition: max-height -200ms 300ms ease-out, margin-top .1s ease-in-out 0s
    &.active 
        max-height: 9999px
        transition: max-height 400ms ease-in

section
    flex: 1
.section-ul.parts-section-ul
    width: 100%
    display: grid
    grid-template-columns: repeat(auto-fit, 100%)
    grid-gap: 15px
    justify-content: center

    @include tabletPlus()
        grid-template-columns: repeat(auto-fit, 235px)
    @include desktopPlus()
        grid-gap: 26px
        grid-template-columns: repeat(auto-fit, 262px)
        justify-content: flex-start
    .section-ul-li
        width: 100%
.parts-section-ul-li
    background: white
    border-radius: 10px
    padding: 30px
    padding-top: 20px
    min-height: 304px
    display: flex
    flex-direction: column
    justify-content: space-between
    @include tabletPlus()
        width: 235px
    @include desktopPlus()
        width: 262px
    .parts-section-li-divForImg
        margin: 0 auto
        margin-bottom: 2px 
        background: unset
        border-radius: 10px
        overflow: hidden
        height: 165px
        img
            // padding: 0 18px
            height: 100%
            width: 100%
            object-fit: cover
            transition: transform .4s ease-out
            &:hover
                transform: scale(1.1)
                transition: transform .4s ease-in
    h2
        font-family: FiraMedium
        color: $dark1
        margin-bottom: 2px
        text-align: unset
        height: 34px
        overflow: hidden
    .parts-price
        margin-bottom: 2px
        font-family: Helvneue
        font-size: 18px
        line-height: 21px
        color: $dark2
        .part-price-discount
            font-size: 12px
            line-height: 14px
            color: $grey
            margin-left: 10px
            text-decoration: line-through

    .parts-info-div
        display: flex
        justify-content: space-between
        span
            font-size: 12px
            line-height: 14px
            color: $dark2
            &:first-child
                font-family: HelvNeue
                opacity: .5
            &:last-child
                font-family: FiraBold
        &:first-child
            margin-bottom: 7px
    > a
        display: flex
        flex: 1
        flex-direction: column

.pagination
    margin: 0 auto
    @include tabletPlus()
        margin: unset
        margin-top: 40px
    margin-top: 40px
    height: 34px
    width: 268px
    display: flex
    justify-content: space-between
    a
        height: 100%
        width: 34px
        border-radius: 50%
        position: relative
        @include centering()
        background: white
        &:hover, &.active
            background: $blue
            color: white
    span
        flex: 1
        display: flex
        justify-content: space-evenly
        a
            font-size: 14px
            line-height: 16px
            font-family: HelvNeue
            font-weight: 600
            &.active
                background: $blue
                color: white
    .left-prev
        &::after
            content: url(../images/parts/left-arrow.svg)
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
        &:hover::after
            content: url(../images/parts/left-arrow-white.svg)
    .right-next
        &::after
            content: url(../images/parts/right-arrow.svg)
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
        &:hover::after
            content: url(../images/parts/right-arrow-white.svg)
