@import variables
@import defaults
@import header
@import footer
@import home-main
@import about
@import contact
@import cars
@import parts
@import single-part


#singleProd-slider.zoomed
    width: calc(100% - 30px)
    height: 500px
    position: fixed
    overflow: hidden
    background: white
    padding: 50px 50px
    z-index: 13
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    border-radius: 10px
    @include tabletPlus()
        width: 60%
        min-width: 700px
        max-width: 750px
        padding: 4% 5%
    .singleProd-slider-mainPhoto
        height: calc(100% - 60px - 10%)
    .turn-off-zoomed
        display: flex
        top: 5px
        right: 5px
        z-index: 12
        background: $grey
        padding: 5px
        border-radius: 3px
    ~ .black-screen
        display: block
        width: 100vw
        height: 100vh
        top: 0
        right: 0
        background: $dark2transp
        z-index: 5

