@font-face {
  font-family: HelvNeue;
  src: url(../fonts/75-Bold.ttf);
}

@font-face {
  font-family: FiraBook;
  src: url(../fonts/FIRAGO-BOOK.TTF);
}

@font-face {
  font-family: Helvetica Neue;
  src: url(../fonts/MyriadGEOMtavruliMedium.ttf);
}

@font-face {
  font-family: FiraRegular;
  src: url(../fonts/FiraGO-Regular.ttf);
}

@font-face {
  font-family: HelvNeue;
  src: url(../fonts/75-Bold.ttf);
}

@font-face {
  font-family: FiraBook;
  src: url(../fonts/FIRAGO-BOOK.TTF);
}

@font-face {
  font-family: Helvetica Neue;
  src: url(../fonts/MyriadGEOMtavruliMedium.ttf);
}

@font-face {
  font-family: FiraRegular;
  src: url(../fonts/FiraGO-Regular.ttf);
}

* {
  font-family: HelvNeue;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

body {
  background: #ebebeb;
  color: #18191A;
}

.container {
  max-width: 1156px;
  margin: 0 auto;
  padding: 0 15px;
}

header.container {
  margin-bottom: 40px;
}

.header-top {
  height: 50px;
  color: #B0B3B8;
  font-size: 14px;
  line-height: 17px;
  display: none;
}

@media screen and (min-width: 768px) {
  .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.default-infos {
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.default-infos > span {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.default-infos > span::before {
  content: '';
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.default-infos-numbers {
  margin-right: 25px;
}

.default-infos-numbers::before {
  background: url(../images/device-mobile.svg);
}

.default-infos-mail::before {
  background: url(../images/mail.svg);
}

.header-socials-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-socials-ul::after {
  content: '';
  position: absolute;
  right: 0;
  background: #18191A;
  height: 50px;
  width: 100%;
  z-index: -1;
}

.header-socials-ul .header-socials-li {
  width: 24px;
  height: 24px;
}

.header-socials-ul .header-socials-li:nth-child(2) {
  margin: 0 15px;
}

.header-socials-ul .header-socials-li a {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-socials-ul .header-socials-li a path[stroke="#b0b3b8"],
.header-socials-ul .header-socials-li a rect[stroke="#b0b3b8"],
.header-socials-ul .header-socials-li a circle[stroke="#b0b3b8"] {
  -webkit-transition: stroke 400ms;
  transition: stroke 400ms;
}

.header-socials-ul .header-socials-li a:hover path[stroke="#b0b3b8"],
.header-socials-ul .header-socials-li a:hover rect[stroke="#b0b3b8"],
.header-socials-ul .header-socials-li a:hover circle[stroke="#b0b3b8"] {
  stroke: #3690E6;
}

.header-bottom {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 14px;
}

.header-bottom::after {
  content: '';
  position: absolute;
  right: 0;
  background: #FAFAFA;
  height: 90px;
  width: 100%;
  z-index: -1;
}

.header-logo {
  width: 150px;
}

@media screen and (min-width: 768px) {
  .header-logo {
    width: unset;
  }
}

.header-logo svg {
  width: 100%;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav-ul {
  width: 420px;
  display: none;
}

@media screen and (min-width: 768px) {
  .header-nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-nav-ul .header-nav-ul-li {
  -webkit-transition: padding 400ms, background 400ms;
  transition: padding 400ms, background 400ms;
  cursor: pointer;
  border-radius: 22px;
}

.header-nav-ul .header-nav-ul-li.active, .header-nav-ul .header-nav-ul-li.current {
  padding: 13px 27px 14px 28px;
  background: #3690E6;
  color: white;
}

.header-searchbar {
  margin-left: 22px;
  padding: 9.5px 14px;
  background: none;
  border-radius: 22px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.header-searchbar #Path_906,
.header-searchbar circle {
  -webkit-transition: stroke 400ms;
  transition: stroke 400ms;
}

.header-searchbar:hover {
  background: #3690E6;
}

.header-searchbar:hover #Path_906,
.header-searchbar:hover circle {
  stroke: white;
}

footer {
  height: 258px;
  font-size: 12px;
  line-height: 14px;
  color: #18191A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

footer.container {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  footer {
    height: 150px;
  }
}

footer > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer::after {
  content: '';
  width: 100vw;
  height: 258px;
  position: absolute;
  right: 0;
  z-index: -1;
  background: #FAFAFA;
}

@media screen and (min-width: 768px) {
  footer::after {
    height: 150px;
  }
}

.footer-inside-top {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer-inside-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-inside-top .footer-nav {
  width: 364px;
}

.footer-inside-top .footer-nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-inside-top .footer-nav-ul-li {
  -webkit-transition: color 400ms;
  transition: color 400ms;
}

.footer-inside-top .footer-nav-ul-li:hover {
  color: #2185E1;
}

.footer-infos {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .footer-infos {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
    margin-top: 0;
  }
}

.footer-infos .default-infos-mail::before {
  background: url(../images/mail-black.svg);
}

.footer-infos .default-infos-numbers::before {
  background: url(../images/device-mobile-black.svg);
}

.footer-inside-bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-inside-bottom .default-infos {
  font-size: 14px;
  line-height: 17px;
  color: #3A3B3C;
  height: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-inside-bottom .default-infos .default-infos-numbers {
  margin-right: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .footer-inside-bottom .default-infos .default-infos-numbers {
    margin-right: 25px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-inside-bottom .default-infos {
    height: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-inside-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-inside-bottom::after {
  content: '';
  position: absolute;
  top: 108px;
  height: 1px;
  width: 100%;
  background: #B0B3B8;
  opacity: .2;
}

@media screen and (min-width: 768px) {
  .footer-inside-bottom::after {
    top: 0;
  }
}

.creator a {
  color: #3690E6;
}

.header-socials-ul.footer-socials-ul {
  margin-bottom: 30px;
}

.header-socials-ul.footer-socials-ul::after {
  content: none;
}

@media screen and (min-width: 768px) {
  .header-socials-ul.footer-socials-ul {
    display: none;
  }
}

.header-socials-ul.footer-socials-ul .header-socials-li:nth-child(2) {
  margin: 0 10px;
}

.creator-respo {
  padding-top: 30px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

@media screen and (min-width: 768px) {
  .creator-respo {
    display: none;
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
}

.rights-reserved {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .rights-reserved {
    margin-bottom: unset;
  }
}

@font-face {
  font-family: HelvNeue;
  src: url(../fonts/75-Bold.ttf);
}

@font-face {
  font-family: FiraBook;
  src: url(../fonts/FIRAGO-BOOK.TTF);
}

@font-face {
  font-family: Helvetica Neue;
  src: url(../fonts/MyriadGEOMtavruliMedium.ttf);
}

@font-face {
  font-family: FiraRegular;
  src: url(../fonts/FiraGO-Regular.ttf);
}

@font-face {
  font-family: HelvNeue;
  src: url(../fonts/75-Bold.ttf);
}

@font-face {
  font-family: FiraBook;
  src: url(../fonts/FIRAGO-BOOK.TTF);
}

@font-face {
  font-family: Helvetica Neue;
  src: url(../fonts/MyriadGEOMtavruliMedium.ttf);
}

@font-face {
  font-family: FiraRegular;
  src: url(../fonts/FiraGO-Regular.ttf);
}

@media only screen and (max-width: 768px) {
  main.home {
    padding: 0;
  }
}

main.home h1 {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 7px;
}

@media screen and (min-width: 768px) {
  main.home h1 {
    margin-bottom: 9px;
    font-size: 26px;
    line-height: 31px;
  }
}

main.home > p {
  font-size: 12px;
  line-height: 14px;
  font-family: FiraBook;
  margin-bottom: 30px;
}

.home-main-ul {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (166px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 166px);
  grid-gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .home-main-ul {
    grid-gap: 26px;
  }
}

.home-main-ul-li {
  width: 164px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-main-ul-li-aForImg {
  height: 110px;
  width: 100%;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 17px;
}

.home-main-ul-li-aForImg img {
  width: 100%;
  height: 100%;
  padding: 15px 43px;
  -o-object-fit: contain;
     object-fit: contain;
}

.home-main-ul-li-brandname {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
}

.home-main-ul-li-quantity {
  font-size: 12px;
  line-height: 14px;
  font-family: FiraRegular;
  font-weight: 100;
}

.home-main-ul-li-quantity span {
  font-family: inherit;
}
/*# sourceMappingURL=style.css.map */