@import defaults
@import header
@import footer
@import home-main
// @import about
@import variables



article.about
    h1
        margin-bottom: 39px
        font-size: 26px
        line-height: 31px
    p
        font-size: 14px
        line-height: 20px
        font-family: FiraBook
        padding: 40px 96px 0
    img
        width: 100%
        object-fit: cover
        border-radius: 10px